@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCountAsync">Call the function</button>

<div class="mt-3">
    <input value="@text" @onchange="OnChange" />
    <button @onclick="OnClick">Clear</button>
    <p>@text</p>
</div>

@code {
    private int currentCount = 0;
    private string? text;

    private void IncrementCount() => currentCount++;

    async Task IncrementCountAsync()
    {
        await Task.Delay(100);
        currentCount++;
    }
    private void OnChange(ChangeEventArgs e) => text = e.Value?.ToString();
    private void OnClick(MouseEventArgs e) => text = string.Empty;
}
